html {
  height: 100%;
  width: 100%;
  background-color:rgba(242, 242, 242, 1) ;
}
/* Color Theme Swatches in Hex */
.color-theme_Logo-1-hex { color: #D93D4A; }
.color-theme_Logo-2-hex { color: #111226; }
.color-theme_Logo-3-hex { color: #E4E6F2; }
.color-theme_Logo-4-hex { color: #D93B3B; }
.color-theme_Logo-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.color-theme_Logo-1-rgba { color: rgba(217, 61, 74, 1); }
.color-theme_Logo-2-rgba { color: rgba(17, 18, 38, 1); }
.color-theme_Logo-3-rgba { color: rgba(228, 230, 242, 1); }
.color-theme_Logo-4-rgba { color: rgba(217, 59, 59, 1); }
.color-theme_Logo-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_Logo-1-hsla { color: hsla(355, 67, 54, 1); }
.color-theme_Logo-2-hsla { color: hsla(237, 38, 10, 1); }
.color-theme_Logo-3-hsla { color: hsla(231, 34, 92, 1); }
.color-theme_Logo-4-hsla { color: hsla(0, 67, 54, 1); }
.color-theme_Logo-5-hsla { color: hsla(0, 0, 94, 1); }

#base {
  font-family:cursive ;
}
#base2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:green;
  font-style:italic ;
}
#base3 {
  color:purple
}
.format {
  min-height:10vh;
  text-align:center;
}
#navbar {
  position:fixed;
  top:0;
  background-color:rgba(228, 230, 242, 1);
  border:1px;
  width: 100%;
  padding: 30px 40px;
}
#menu {
  float: center;
}
#base4{
  margin:0px auto ;
}
#base6 {
text-align:center ;
}

#footer {
background-color: rgba(217, 59, 59, 1);
padding-bottom: 10px;
padding-left: 30px;
padding-top: 10px;
padding-right:30px;
}
#outside-links{
float:right;
font-size:50px
}
#inside-links{
text-align: left;
}

#Form {
  text-align:left ;
}