html {
  height: 100%;
  width: 100%;
  background-color:rgba(242, 242, 242, 1) ;
}
*{
  Margin:0;
  padding:0;
  border:0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Color Theme Swatches in Hex */
.color-theme_Logo-1-hex { color: #D93D4A; }
.color-theme_Logo-2-hex { color: #111226; }
.color-theme_Logo-3-hex { color: #E4E6F2; }
.color-theme_Logo-4-hex { color: #D93B3B; }
.color-theme_Logo-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.color-theme_Logo-1-rgba { color: rgba(217, 61, 74, 1); }
.color-theme_Logo-2-rgba { color: rgba(17, 18, 38, 1); }
.color-theme_Logo-3-rgba { color: rgba(228, 230, 242, 1); }
.color-theme_Logo-4-rgba { color: rgba(217, 59, 59, 1); }
.color-theme_Logo-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_Logo-1-hsla { color: hsla(355, 67, 54, 1); }
.color-theme_Logo-2-hsla { color: hsla(237, 38, 10, 1); }
.color-theme_Logo-3-hsla { color: hsla(231, 34, 92, 1); }
.color-theme_Logo-4-hsla { color: hsla(0, 67, 54, 1); }
.color-theme_Logo-5-hsla { color: hsla(0, 0, 94, 1); }

.format {
  min-height:10vh;
  text-align:center;
}
#navbar {
  position:fixed;
  top:0;
  background-color:rgba(228, 230, 242, 1);
  border: 0px;
  width: 100%;
  height: 100px;
  z-index: 3;

}
#nav-back{
  background-color:rgba(228, 230, 242, 1);
  border: 0px;
  width: 100%;
  height: 100px;
}
#logo {
  float: left;
  text-align: center;
  width: 300px;
  height: inherit;
  left: 0;
  color: rgba(217, 61, 74, 1);
  padding: 10px 0;
  font-size: 150%;
  font-family: 'Playfair Display', serif;
}

#menu {
  width: 33%;
  float: right;
  text-align: right;
  height: inherit;
  margin:30px;
}

#main-hero-container{
  height: 1000px;
  Width:100%;
  position: relative;
}
#main-hero{
height: inherit;
width:100%;
Background: url("../assets/images/IMAG0276.jpg") no-repeat center center;
background-size: contain;

}
#form{
  width:33%;
  text-align:center;
  background-color:rgba(217, 61, 74, .6);
  right: 33%;
  bottom:400px;
  position: absolute;
}
#form-image-outer{
    height: 1000px;
    Width:100%;
    position: relative;
    clear:both;
}
#form-background{
  height: inherit;
  width:100%;
  Background: url("../assets/images/Form-Background.jpg") no-repeat center center;
  background-size: contain;

}

#footer {
  width:100%;
  height:100px;
  background-color: rgba(217, 59, 59, 1);
  clear:both;
}
#footer > span{
  padding:0 50px;
  padding-top:30px;
}
#outside-links{
  text-align: Right;
  float:right;
  width:33%;
  height:inherit;
  font-size:50px;
  color:rgba(17, 18, 38, 1);
}
#inside-links{
  text-align: left;
  float:left;
  width:33%;
  Height:inherit;
}
