html {
  height: 100%;
  width: 100%;
  background-color:#C0BEBE ;
}
*{
  Margin:0;
  padding:0;
  border:0;
}
section{
    background-color: #C0BEBE;
}
a:hover {
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');



/* Color Theme Swatches in Hex */
.color-theme_Logo-1-hex { color: #D93D4A; }
.color-theme_Logo-2-hex { color: #A41818; }
.color-theme_Logo-3-hex { color: #4A4646; }
.color-theme_Logo-4-hex { color: #A07171; }
.color-theme_Logo-5-hex { color: #FFFFFF; }

#navbar {
  position:fixed;
  top:0;
  background-color:#FFFFFF;
  border: 0px;
  width: 100%;
  height: 200px;
  z-index: 3;

}

#nav-back{
  background-color:#FFFFFF;
  border: 0px;
  width: 100%;
  height: 200px;
}
#logo-container{
    height: 154px;
    Width: 100%;
    position: relative;
}
#logo {
    height: inherit;
    width: 100%;
    background: url("../assets/images/Logo.jpg") no-repeat center center; 
    background-size: contain;
}
 #menu-container{
    margin: auto;
    font-size: 120%;
}
.navspacing{
    padding-right: 200px;
}

/* end of nav bar start of hero image */
#main-hero-container{
  height: 620px;
  Width:100%;
  position: relative;
}
#main-hero{
  height: inherit;
  width:100%;
  Background: url("../assets/images/IMAG0276.jpg") no-repeat center center;
  overflow:hidden;
}
#hero-text{
    width: 680px;
    height: 200px;
    background-color: #4a4646c2;
    border-radius: 30px;
    position: relative;
    left: 10%;
    bottom: 250px;
}
.box-text{
    color:#FFFFFF;
    text-align: center;
    font-size: 200%;
}
/* end of hero image */

/* start of locations */
.location-box{
    background-color: #a07171d2;
    border-radius: 30px;
    width: 500px;
    height:270px;
    display: inline-block;
    padding: 15px;
    Margin: 10px;
    position: relative;
    bottom: 100px;
}
.location-body{
    text-align: center
}


/* footer Styles */
#footer {
    width: 100%;
    Height: 175px;
    background-color: #A41818;
    display: flex;
    text-align: center;
}
.footer-box{
    width: 45%;
    height: inherit;
    display: inline-block;
    margin: auto;
}
#outside-links{
    list-style-type: none;
    font-size: 200%;
    color: #FFFFFF;

}
#inside-links{
    list-style-type: none;
    font-size: 200%;
    color:#FFFFFF ;
    padding:0;
    Margin:0;
}
#social{
    padding: 0;
}
.links{
    display: inline;
    padding: 10px;
}
.social-icons{
    Color: black;
}
/*form Page Styles */
#form{
  width:33%;
  text-align:center;
  background-color:rgba(217, 61, 74, .6);
  right: 33%;
  top:100px;
  position: absolute;
  padding:20px;
}
#form-image-outer{
    height: 1000px;
    Width:100%;
    position: relative;
    clear:both;
}
#form-background{
  height: inherit;
  width:100%;
  Background: url("../assets/images/form-back2.jpg") no-repeat center center;
 /* background-size: contain; */
  overflow:hidden;

}


@media screen and (max-width: 768px) {
    .navspacing {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer {
        width: 100%;
        Height: 350px;
        display: block;
    }

    .footer-box {
        width: 90%;
        height: 175px;
        display: block;
    }

    #hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 10px;
    }
    .location-box {
        bottom: 0;
        left: 0;
        width: 100%;
        }
}
@media screen and (max-width: 470px){     
.small-screen{
    font-size: 25px;
}
}