@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans&display=swap');

/* a few changes to make sure all works correctly */
html {
    height: 100%;
    width: 100%;
}

* {
    Margin: 0;
    padding: 0;
    border: 0;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: 600;
}
body {
    background-color: #C0BEBE;
    font-family: 'Josefin Sans', sans-serif;
}


/* responsive links */
a {
    text-decoration: none;
}


/* Color Theme Swatches in Hex */
.color-theme_Logo-1-hex {
    color: #D93D4A;
}

.color-theme_Logo-2-hex {
    color: #A41818;
}

.color-theme_Logo-3-hex {
    color: #4A4646;
}

.color-theme_Logo-4-hex {
    color: #A07171;
}

.color-theme_Logo-5-hex {
    color: #FFFFFF;
}

/********
 nav bar 
 *******/

#navbar {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    border: 0px;
    width: 100%;
    height: 150px;
    z-index: 3;

}
.link-hover:hover{
    text-decoration: underline;
}

/* nav back false back for positioning */
#nav-back {
    background-color: #FFFFFF;
    border: 0px;
    width: 100%;
    height: 150px;
}

/* container for logo manipulation */
#logo-container {
    height: 100px;
    margin:auto;
    position: relative;
}

#logo {
    height: inherit;
    background: url("../assets/images/Logo.jpg") no-repeat center center;
    background-size: contain;
}

/*container to hold nav links */
#menu-container {
    margin: auto;
    font-size: 120%;
}

/* spacing off central text */
.navspacing {
    padding: 0 150px;
}
/*resonsive design for what sheet is currently active */
.activesheet {
    font-weight: 700;
    font-size: 120%;
}
.nav-size{
    width: 100px;
}

/**********************************
 end of nav bar start of hero image 
 **********************************/

/* hero image and its container styling */
#main-hero-container {
    height: 900px;
    Width: 100%;
    position: relative;
}

#main-hero {
    height: inherit;
    width: 100%;
    Background: url("../assets/images/landing-page-hero.jpg") no-repeat center center;
    overflow: hidden;
    z-index: 1;
}

/* hero text styling and positioning */
#hero-text-container{
    width: 1020px;
    height: 200px;
    text-align: left;
    margin:auto;
}
#hero-text {
    width: 680px;
    height: 200px;
    background-color: #4a4646c2;
    border-radius: 30px;
    position: relative;
    bottom: 250px;
    padding: 10px;
    padding-top: 20px;
}

.box-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 200%;
}

.slowfade {
    animation-name: slowfade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*********************************************
End of hero image start of Location containers
*********************************************/
.location-box {
    background-color: #a07171de;
    width: 500px;
    height: 270px;
    display: inline-block;
    padding: 15px;
    position: relative;
}
/* Css for the backgorund of containers in Landing page */
.location-photo-box{
    width: 500px;
    height: 270px;
    display: inline-block;
    Margin: 10px;
    position: relative;
    bottom: 100px;
}
#location-photo1{
    Background: url("../assets/images/dover-container.jpg") no-repeat center center;
    background-size: cover;
}
#location-photo2 {
    Background: url("../assets/images/canterbury-container.jpg") no-repeat center center;
    background-size:cover;
}
#location-photo3 {
    Background: url("../assets/images/folkestone-container.jpg") no-repeat center center;
    background-size: cover;
}
#location-photo4 {
    Background: url("../assets/images/ashford-container.jpg") no-repeat center center;
    background-size: cover;
}

/* Location box center align */
.location-body {
    text-align: center
}
.container-h1{
        font-family: 'Josefin Sans', sans-serif;
}

.location-text{
    font-size: 125%;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
#center {
    text-align: center;
}
/**********************************
 end of Containers, start of footer
 **********************************/

#footer {
    width: 100%;
    Height: 85px;
    background-color: #A41818;
    display: flex;
    text-align: center;
}

.footer-box {
    width: 500px;
    height: inherit;
    display: inline-block;
    margin: 10px;
    margin: auto;
}

#footer-box1 {
    width: 500px;
    height: 80px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
}

#footer-box2 {
    width: 500px;
    height: 80px;
    display: inline-block;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 5px;
}

#outside-links {
    list-style-type: none;
    color: #FFFFFF;
    text-align: right;
    padding: 0;
    margin-top: 10px;
}

#inside-links {
    list-style-type: none;
    color: #FFFFFF;
    text-align: left;
    padding: 0;
}

#social {
    padding: 0;
}

.links {
    display: inline;
    padding: 10px;
}
.social-icons{
    color: #FFFFFF;
}

/**********************************
End Of footer start of Form Styles
 **********************************/

/* styiling for main form structure */
#form-outer {
    width: 100%;
    text-align: center;
}

#form {
    width: 500px;
    text-align: center;
    background-color: #a07171c7;
    padding: 20px;
    margin: 150px auto;
    border-radius: 30px;
}

/* Form image background styles */
#form-image-outer {
    height: 1000px;
    Width: 100%;
    position: relative;

}

#form-background {
    height: inherit;
    width: 100%;
    Background: url("../assets/images/Form-Background.jpg") no-repeat center center;
    overflow: hidden;
}


#success-image-outer{
    width: 100%;
    text-align: center;
}
#success-background {
    height: inherit;
    width: 100%;
    Background: url("../assets/images/success-background.jpg") no-repeat center center;
    overflow: hidden;
    background-size:cover;
}
#success {
    width: 600px;
    text-align: center;
    background-color: #a07171c7;
    padding: 20px;
    margin: 300px auto;
    border-radius: 30px;
    font-size: 200%;
}
/*******************************************
end of Form styles, start of location styles
*******************************************/

.location-container {
    Width: 1032px;
    Height: 300px;
    border-radius: 30px;
    margin: 10px auto;
    text-align: center;
    font-size: 200%;
}
.location-container-text{
    padding-top: 30px;
} 
.location-title {
    font-size: 125%;
    text-align: center;
    margin: auto;
    width: auto;
    border-radius: 30px;
}

.location-h1 {
    font-weight: 700;
    color:#4A4646;
    font-family: 'Cinzel', serif;
}

/*simple style for adding padding to sections */
.padding {
    padding: 10px;
}

/***************************************************
Code that is not mine, For the gallery (w3c schools)
***************************************************/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: whitesmoke;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* End of code */

/**************************
Start of responsive changes 
**************************/
@keyframes slowfade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 1400px) {

    /* changes form to scale */
    #form-image-outer {
        height: 800px;
    }

    #form {
        margin: 75px auto;
    }
    .location-container {
        Width: 90%;
}
    #hero-text-container {
        width: 100%;
    
    }
    
}

@media screen and (max-width: 768px) {

    /* reduces spacing in nav bar for smaller screens */
    .navspacing {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* reduces Footer to stack ontop of eachother */
    #footer {
        width: 100%;
        Height: 200px;
        display: block;
    }
    #inside-links, #outside-links{
        text-align: center;
    }

    #footer-box1, #footer-box2 {
        width: 90%;
        height: 100px;
        margin: 0;
    }

    /*moves the hero text to below image */
    #hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    #hero-text-container {
        width: 100%;
        margin: 10px 0;
    
    }

    /* sets location boxes to stack verticaly */
    .location-box {
        width: 100%;

    }
    .location-photo-box {
        width: 100%;
        Margin: 0;
        bottom:0;
        margin-bottom: 10px;
        }

    .location-container{
        height: 550px;
    }

    /* changes form to fill smaller screens */
    #form, #success{
        width: 95%;
        margin: 5px auto;
    }

    #form-image-outer {
        height: 700px;
    }

    #main-hero-container {
        height: 620px;
    }
}

@media screen and (max-width: 495px) {

    /* shrinks text for small screens */
    .small-screen {
        font-size: 80%;
    }
    /* navbar tweaks to sit better on smaller devices */
    .navspacing {
        padding: 0;
        }
    .container{
        padding: 1px;
    }

    /* location title adjust */
    .location-title {
        width: 100%;
        border-radius: 0px;
    }

    /* main hero adjust */
    #main-hero-container {
        height: 300px;
    }

    #hero-text {
        font-size: 80%;
        padding-top: 0;
    }
}













/***********
Testing only
***********/
